@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}



.header-top_section {
    background: #1E1E1F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
}


.header-top_section-links_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.header-top_section-link {
    color: white;
    font-size: 0.9vw;
    font-weight: 400;
    margin: 0 2rem;
    text-decoration: none;
    line-height: 1;
}
.header-top_section-link i {
    margin-right: 7px;
    color: #54ADFF;
}
.header-top_section-link:hover {
    color: #54ADFF;
    cursor: pointer;
}


.header-top_section-language_link {
    color: white;
    font-size: 0.9vw;
    font-weight: 600;
    text-decoration: none;
    line-height: 1;
    margin: 0 0.25rem;
}
.header-top_section-language_link.active {
    color: #54ADFF;
    font-weight: 900;
    font-size: 1vw;
}
.header-top_section-language_link:hover {
    font-weight: 900;
    color: white;
    font-size: 1vw;
}


.header-bottom_section {
    background: #181C1F;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.header-bottom_section-logo img {
    width: 10vw;
    margin: 0 2rem;
}


.header-bottom_section-links_container {
    text-align: center;
}

.header-bottom_section-link {
    display: inline-block;
    margin: 0;
    padding: 0.5rem 2rem;
    font-size: 1vw;
    font-weight: 500;
    color: #54ADFF;
    text-decoration: none;
    height: 100%;
}
.header-bottom_section-link:hover {
    background: #22272C;
    color: #54ADFF;
    box-shadow: 0 0.125rem 0 0 #54ADFF;
}


.header-bottom_section-auth_link {
    display: inline-block;
    margin: 0;
    padding: 0.5rem;
    font-size: 0.75vw;
    font-weight: 500;
    color: #54ADFF;
    text-decoration: none;
    height: 100%;
}
.header-bottom_section-auth_link:hover {
    color: white;
    box-shadow: 0 0.125rem 0 0 #54ADFF;
}



.main-container {
    background: #181C1F;
    min-height: 100vh;
    padding: 0 10% 5% 10%;
    position: relative;
}



.hint_container {
    background: #20262A;
    padding: 1% 5%;
    margin: 2.5rem 0 0 0;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 0.5rem;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.1);
}

.hint {
    color: white;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    display: inline-block;
}



.exchange_container {
    margin-top: 3rem;
    padding: 1% 2.5%;
    background: #20262A;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.025);
}


.exchange-pills_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}


.exchange-button {
    display: block;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0.5rem 0;
    text-align: left;
    padding: 0.5rem 1.5rem;
    background: none;
    border-radius: 0.5rem;
    color: #54ADFF;
    font-size: 1.25rem;
    font-weight: 400;
}
.exchange-button.active {
    background: #171C1F;
    border: 1px solid #54ADFF;
}
.exchange-button:hover {
    border: 1px solid #54ADFF;
}
.exchange-button img {
    width: 3.25rem;
    height: 3.25rem;
    object-fit: cover;
    margin-right: 1rem;
}


.exchange-rate_info-table {
    width: 100%;
    border-collapse:separate;
    border-spacing: 0 0.75rem;
}


.exchange-rate_info-table-header_row {
    color: #54ADFF;
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
    box-shadow: 0 1px 0 0 #54ADFF;
    width: 100%;
}


.exchange-rate_info-table-header_give {
    width: 40%;
    padding: 0.5rem 0;
}
.exchange-rate_info-table-header_rate,
.exchange-rate_info-table-header_reserve {
    width: 25%;
    padding: 0.5rem 0;
}
.exchange-rate_info-table-header_button {
    width: 10%;
    padding: 0.5rem 0;
    position: relative;
}

.exchange-order-button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: none;
    height: 2rem;
    width: 2rem;
    border-radius: 0.25rem;
}
.exchange-order-button:hover {
    border: 1px solid #54ADFF;
}
.exchange-order-button:hover .exchange-order-button-text {
    color: #54ADFF;
}
.exchange-order-button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
}


.exchange-rate_info {
    color: white;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2), 0 -1px 0 0 rgba(255, 255, 255, 0.2);
}
.exchange-rate_info:hover {
    color: white;
    box-shadow: 0 1px 0 0 #54ADFF, 0 -1px 0 0 #54ADFF;
}


.exchange-rate_info-table-item_give {
    font-size: 1.35rem;
    font-weight: 400;
    padding: 0.5rem 0 0.5rem 1.5rem;
}
.exchange-rate_info-table-item_give img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    margin-right: 1rem;
}


.exchange-rate_info-table-item_rate,
.exchange-rate_info-table-item_reserve {
    font-weight: 400;
    font-size: 1.1rem;
    text-align: center;
}



.steps_container {
    background: #20262A;
    margin-top: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.05);
}


.steps-header {
    color: white;
    text-align: right;
    line-height: 1;
}


.steps-regular {
    color: rgba(255, 255, 255, 0.75);
    margin: 0;
    font-size: 1.75rem;
    font-weight: 300;
}

.steps-regular a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 2px 0 0 #54ADFF;
}
.steps-regular a:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 0 0 #FFF;
}


.exchange-rate_info-table-item_button {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}


.steps-list_container {
    margin-top: 2rem;
    padding: 2rem 0.5rem;
    border-radius: 0.25rem;
    color: white;
    background-image: repeating-linear-gradient(to top right, rgba(85, 175, 255, 0.25) 60px, transparent 61px, transparent 75px),
    repeating-linear-gradient(to bottom right, #000 60px, transparent 61px, transparent 75px);
}


.steps-list_item {
    position: relative;
    display: grid;
    grid-gap: 1rem;
    align-items: center;
    margin: 1.5rem 0;
    width: 50%;
}
.steps-list_item:nth-child(odd) {
    grid-template-columns: 6rem 1fr;
    left: 100%;
    transform: translate(-100%, 0);
}
.steps-list_item:nth-child(even) {
    grid-template-columns: 1fr 6rem;
    text-align: right;
}
.steps-list_item:nth-child(even) .steps-list_item-number_container{
    order: 2;
}

.steps-list_item-number_container {
    position: relative;
    display: block;
    width: 6rem;
    height: 6rem;
    background: #181C1F;
    border: 2px solid #54ADFF;
    border-radius: 50%;
}
.steps-list_item-number {
    color: #54ADFF;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.steps-list_item-text_container {
    width: auto;
}
.steps-list_item-text_container p {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0;
    line-height: 1;
}



.history {
    margin: 5% 0 0 0;
    color: white !important;
    grid-gap: 1.5rem;
}


.history-last_exchange_container,
.history-last_review_container,
.history-reserve_container {
    height: 100%;
    padding: 0 1rem 1rem 1rem;
    box-shadow: 1px 0 0 0 #54ADFF, -1px 0 0 0 #54ADFF;
}


.history-last_exchange_header,
.history-last_review_header,
.history-reserve_header {
    color: #54ADFF;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0.25rem 0 2rem 0;
    text-align: center;
}
.history-last_exchange_header i,
.history-last_review_header i,
.history-reserve_header i {
    color: white;
}

.history-last_exchange_header i:hover,
.history-last_review_header i:hover,
.history-reserve_header i:hover {
    color: #54ADFF;
}


.history-last_exchange-list_item {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0 0 rgba(85, 175, 255, 0.25), 0 -1px 0 0 rgba(85, 175, 255, 0.25);
    padding: 0.5rem 0;
    margin: 0.5rem 0;
}

.history-last_exchange-list_item img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}
.history-last_exchange-list_item img {
    margin: 0 1rem;
}

.history-last_exchange-list_item p {
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
.history-last_exchange-list_item p b {
    color: teal;
    font-size: 1.1rem;
    font-weight: 800;
}


.history-last_review-list_item {
    box-shadow: 0 0 0 1px rgba(85, 175, 255, 0.25);
    padding: 0.75rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
}
.history-last_review-list_item.my-review {
    box-shadow: 0 0 0 2px #54ADFF;
}

.history-last_review-list_item-user {
    color: #54ADFF;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.history-last_review-list_item-user i {
    color: rgba(255, 255, 255, 0.2);
    font-style: normal;
    font-size: 0.9rem;
    font-weight: 300;
}

.history-last_review-list_item-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    line-height: 1;
}


.history-reserve-list_item {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    box-shadow: 0 1px 0 0 rgba(85, 175, 255, 0.25), 0 -1px 0 0 rgba(85, 175, 255, 0.25);
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    position: relative;
}


.history-reserve-list_item-rate {
    display: grid;
    grid-template-columns: 2fr 0.5fr 2fr;
    grid-gap: 0.5rem;
    align-items: center;
}

.history-reserve-list_item-rate_from,
.history-reserve-list_item-rate_to {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
}
.history-reserve-list_item-rate_from img,
.history-reserve-list_item-rate_to img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    margin: 0 0.5rem;
}


.history-reserve-list_item-rate hr {
    position: relative;
    width: 50%;
    margin: 0 1rem 0 0;
}


.history-reserve-list_item-reserve p {
    margin: 0;
    color: #54ADFF;
    font-size: 1rem;
    font-weight: 400;
}



.order_container {
    background: #20262A;
    margin: 5% 0 0 0;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.05);
}


.order-header {
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    box-shadow: 1px 0 0 0 #54ADFF, -1px 0 0 0 #54ADFF;
}
.order_container:hover .order-header {
    box-shadow: 0 1px 0 0 #54ADFF, 0 -1px 0 0 #54ADFF;
}


.order-link {
    display: inline-block;
    position: relative;
    color: #54ADFF;
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem 10rem;
    box-shadow: 0 0 0 3px #54ADFF;
    border-radius: 1rem;
    text-decoration: none;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 2rem;
    text-transform: uppercase;
}
.order-link:hover {
    font-weight: 800;
    color: white;
    box-shadow: 0 0 0 5px #fff;
}



.footer-main_container {
    border-top: 1px solid #54ADFF;
    padding: 2.5% 0 0 0;
    background: #20262A;
}


.footer-logo_container {
    text-align: center;
}
.footer-logo_container a img {
    width: 20rem;
}


.footer-menu_container {
    padding: 5% 10% 2.5% 10%;
    grid-gap: 5rem;
}


.footer-menu-nav,
.footer-menu-contacts {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-menu-nav a,
.footer-menu-contacts a {
    text-decoration: none;
}


.footer-menu-nav_item a,
.footer-menu-contacts_link a {
    color: #54ADFF;
    font-weight: 300;
    font-size: 1.3vw;
    margin: 0.5rem 0;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2), 0 -1px 0 0 rgba(255, 255, 255, 0.2);
    padding: 0.5rem 2rem;
    display: inline-block;
    width: 50%;
}
.footer-menu-nav_item a i,
.footer-menu-contacts_link a i {
    margin-right: 0.5rem;
}
.footer-menu-nav_item a:hover,
.footer-menu-contacts_link a:hover {
    box-shadow: 0 1px 0 0 #54ADFF, 0 -1px 0 0 #54ADFF;
    color: white
}

.disabled-link {
    pointer-events: none;
    color: #fff !important;
}


.footer-copyright_container {
    background: #1E1E1F;
    padding: 1rem 0;
    text-align: center;
}
.footer-copyright {
    margin: 0;
    color: #54ADFF;
    font-size: 1.25rem;
    font-weight: 200;
}



.exchange-form-header {
    font-size: 2.5rem;
    font-weight: 900;
    color: #54ADFF;
    text-align: center;
    margin: 2rem 0 1rem 0;
}


.exchange-hint {
    padding: 1rem;
    font-weight: 300;
    font-size: 1.25rem;
    color: #fff;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.05);
    border-radius: 1rem;
    margin: 0;
}
.exchange-hint b {
    color: #54ADFF;
    font-weight: 700;
    font-size: 2rem;
}
.exchange-hint b i {
    color: #ce4613;
}


.separator {
    opacity: 1;
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background: #54ADFF;
    width: 80%;
    height: 0.5rem;
    margin: 2rem 0 1rem 0;
}



.select2 {
    width: 25vw !important;
    height: auto !important;
}
.select2-selection {
    height: 100% !important;
    padding: 0.5rem 2rem;
    border: 1px solid #54ADFF !important;
}

.select2-results {
    padding: 0.5rem !important;
    background: #181C1F !important;
}
.select2-container--default .select2-selection--single {
    background-color: #181C1F !important;
}
.select2-container--default .select2-results__option--selected {
    background-color: #000000 !important;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: none !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #20262A !important;
}


.select-card {}

.select-card-currency {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.select-card-currency img {
    margin: 0 1rem;
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}
.select-card-currency span {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0;
}

.select-card-separator {
    color: #FFFFFF;
    opacity: 1;
    width: 2.5rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}


.exchange-form-flex_container,
.number-flex_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.number-flex_container {
    margin-left: 3rem;
}

.small_label {
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 1rem;
}
.number-flex_container .custom-input {
    width: 15vw !important;
}
.custom-input {
    padding: 0.5rem !important;
    font-size: 1.5rem !important;
    height: 100% !important;
    border: 1px solid #54ADFF !important;
    background: none !important;
    color: #FFFFFF !important;
    border-radius: 0.25rem !important;
}
.custom-input:focus,
.custom-input:active {
    outline: none !important;
    box-shadow: 0 0 0 2px #54ADFF !important;
    background: #20262A !important;
}
.mt2 {
    margin-top: 2rem;
}
.big_label {
    color: #54ADFF;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem;
}


.exchange-form-button {
    margin-top: 2rem;
    padding: 0.5rem 5rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #54ADFF;
    border: 1px solid #54ADFF;
    background: none;
    border-radius: 0.5rem;
}
.exchange-form-button:hover {
    background: #54ADFF;
    color: #FFFFFF;
}



.success-step {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 1.5rem 0 1rem 0;
}


.success-button {
    color: #54ADFF;
    border: 1px solid #54ADFF;
    border-radius: 0.5rem;
    font-weight: 300;
    font-size: 1.2rem;
    background: none;
    padding: 0.5rem 1.5rem;
}
.success-button:hover {
    background: #54ADFF;
    color: #181C1F;
}


.success-sum {
    color: #54ADFF;
    font-size: 1.5rem;
    font-weight: 600;
}


.success-hint {
    color: #54ADFF;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}
.success-hint b {
    color: #ce4613;
    font-weight: 800;
}


.success-info {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.05);
    border-radius: 1rem;
}

.success-buttons_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.success-button_cancel {
    color: #ce4613;
    border: 1px solid #ce4613;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
}
.success-button_cancel:hover {
    background: #ce4613;
    color: #181C1F;
}

.success-button_confirm {
    margin-left: 2rem;
    border: 1px solid #54ADFF;
    color: #54ADFF;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0.5rem 2.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
}
.success-button_confirm:hover {
    color: #181C1F;
    background: #54ADFF;
}



.account-header {
    color: #54ADFF;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    line-height: 1;
}


.account-grid_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2.5rem;
    align-items: start;
}


.account-form_container,
.account-history_container {
    background: #20262A;
    padding: 2rem 1rem;
    border: 1px solid #54ADFF;
    border-radius: 0.5rem;
}


.account-form-header,
.account-history-header {
    color: #54ADFF;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}


.account-form_container .form-group {
    margin: 1rem 0;
}

.account-form_container .form-group label {
    color: white;
}

.account-form_container .form-group input {
    background: none;
    border: 1px solid #54ADFF;
    border-radius: 0.5rem;
    color: #FFFFFF;
}
.account-form_container .form-group input:active,
.account-form_container .form-group input:focus {
    box-shadow: 0 0 0 2px #54ADFF;
    background: #181C1F;
}


.account-form-button {
    font-size: 1.2rem;
    font-weight: 600;
    background: none;
    border: 2px solid #54ADFF;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    color: #FFFFFF;
    width: 100%;
}
.account-form-button:hover {
    color: #54ADFF;
    background: #181C1F;
}


.account-history-item {
    background: #181C1F;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1), 0 -1px 0 0 rgba(255, 255, 255, 0.1);
    margin: 1rem 0;
    padding: 1rem;
}


.account-history-item-currencies {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-gap: 1rem;
    text-align: center;
    align-items: center;
}

.account-history-item-currencies p {
    color: #FFFFFF;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
}
.account-history-item-currencies p img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    margin-right: 0.5rem;
}

.account-history-item-currencies hr {
    color: #54ADFF;
    width: 100%;
    height: 5px;
    opacity: 1;
}

.account-history-item-wallet p {
    color: white;
    font-size: 1rem;
    font-weight: 200;
    margin: 1rem 0;
    text-align: center;
    padding: 0.5rem 0;
    box-shadow: 0 1px 0 0 #54ADFF, 0 -1px 0 0 #54ADFF;
}

.account-history-item-status p {
    color: white;
    font-size: 1rem;
    font-weight: 200;
    margin: 1rem 0;
    text-align: center;
    padding: 0.5rem 0;
    box-shadow: 0 1px 0 0 #54ADFF, 0 -1px 0 0 #54ADFF;
}
.account-history-item-status p b {
    color: #54ADFF;
    font-weight: 600;
}


#reviewModal .modal-content {
    background: #181C1F;
}

#reviewModalLabel {
    color: #54ADFF;
    font-size: 1.5rem;
    font-weight: 500;
}

#reviewModal .modal-header {
    border-bottom: 1px solid #54ADFF;
}
#reviewModal .modal-header button {
    background: none;
    padding: 0;
    border: none;
    color: #54ADFF;
}

#reviewModal .modal-body .form-group {
    margin: 1rem 0;
}
#reviewModal .modal-body .form-group label {
    color: #FFFFFF;
}

#reviewModal .modal-body .form-group input,
#reviewModal .modal-body .form-group textarea {
    color: #FFFFFF;
    background: none;
    border: 1px solid #54ADFF;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
#reviewModal .modal-body .form-group input:focus,
#reviewModal .modal-body .form-group input:active,
#reviewModal .modal-body .form-group textarea:focus,
#reviewModal .modal-body .form-group textarea:active {
    box-shadow: 0 0 0 2px #54ADFF;
    background: #20262A;
    outline: none;
}

#reviewModal .modal-review-button {
    color: #54ADFF;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    width: 100%;
    padding: 0.5rem 0;
    border: 1px solid #54ADFF;
    border-radius: 0.5rem;
    background: none;
}
#reviewModal .modal-review-button:hover {
    color: #FFFFFF;
    background: #20262A;
}
